body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #2a2929;
    text-align: center;
}

header {
    background-color: #153949;
    color: white;
    padding: 20px 0;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: #3c768a;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

h2 {
    border-bottom: 2px solid #7db1df;
    padding-bottom: 5px;
    color: #317aa4;
}

.img-mapa {
    display: block;
    max-width: 70%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



